@using StreamingCheckArr.Core.Models
@{
    ViewData["Title"] = "Home Page";

    var series = ViewBag.Series;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        @{
            @ViewBag.SonarrIp @ViewBag.SonarrPort <br />
            @ViewBag.RadarrIp @ViewBag.RadarrPort <br />
            @ViewBag.SonarrApiKey  <br />
            @ViewBag.RadarrApiKey  <br />
            @ViewBag.TraktClientId <br />
            @ViewBag.TraktClientSecret <br />
            @ViewBag.TMDBApi  <br />
            @ViewBag.TMDBToken <br />
            @ViewBag.CountryCode <br />

            <br />

            // Display the title of each series
            foreach (var item in series)
            {
            <p>@item.title</p>
            }

        }

    </p>
</div>
