@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        @{
            @ViewBag.SonarrUrl <br />
            @ViewBag.RadarrUrl <br />
            @ViewBag.SonarrApiKey  <br />
            @ViewBag.RadarrApiKey  <br />
            @ViewBag.TraktClientId <br />
            @ViewBag.TraktClientSecret <br />
            @ViewBag.TMDBApi  <br />
            @ViewBag.TMDBToken <br />
            @ViewBag.CountryCode <br />

            <br />
        }

    </p>
</div>
